* {
  font-family: 'Montserrat', sans-serif !important; }

body {
  background: #272731;
  color: #fff; }

.topbar {
  width: 100%;
  height: 160px;
  background: #1C1F28;
  padding: 32px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center; }
  .topbar .auth-holder {
    position: absolute;
    right: 10px;
    top: 0px;
    padding: 32px;
    padding-top: 50px;
    height: 160px; }
    .topbar .auth-holder .auth-btn {
      color: #454545;
      border-radius: 100px;
      background: #191920;
      font-size: 1.1em;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      color: #fff;
      border: 1px solid #32323f;
      transition: 0.15s ease; }
    .topbar .auth-holder .auth-btn:hover {
      color: #2ecc71; }
  .topbar p {
    font-size: 1.22em; }
  .topbar h4.brand {
    font-weight: 500;
    font-size: 5em;
    margin: 0; }
    .topbar h4.brand a {
      color: #fff;
      text-decoration: none; }
    .topbar h4.brand span {
      color: #2ecc71; }

.spacer {
  margin-top: 160px; }

.content .col-md-9, .content .col-md-3 {
  margin: 0;
  padding: 0;
  border: none; }
.content .mainleft {
  width: 100%;
  height: calc(100vh - 160px);
  padding: 20px;
  overflow: auto;
  text-align: center; }
  .content .mainleft input {
    width: 100%;
    height: 60px;
    border-radius: 100px;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 20px;
    background: #191920;
    font-size: 1.1em;
    float: left;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid #32323f; }
  .content .mainleft button {
    width: 50px;
    font-size: 1.7em;
    float: left;
    height: 50px;
    border-radius: 100%;
    margin-left: -57px;
    outline: none;
    border: none;
    background: #191920;
    transition: 0.15s ease;
    margin-top: 5px;
    color: #454545; }
  .content .mainleft button:hover {
    color: #29b765; }
  .content .mainleft .links {
    text-align: left;
    margin-top: 50px;
    position: relative; }
    .content .mainleft .links .clear-all {
      position: absolute;
      top: -30px;
      right: 25px;
      opacity: 0.2;
      background: #000;
      font-size: 2em;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      text-align: center;
      padding: 7px;
      padding-left: 8px;
      transition: 0.15s ease; }
    .content .mainleft .links .clear-all:hover {
      opacity: 0.8; }
    .content .mainleft .links .link, .content .mainleft .profile-linkpage-content .links a .new-link, .profile-linkpage-content .content .mainleft .links a .new-link {
      width: 100%;
      height: 70px;
      background: #484B5E;
      color: #fff;
      padding: 20px;
      padding-top: 10px;
      border-radius: 4px;
      margin-top: 20px;
      transition: 0.15s ease;
      word-wrap: break-word;
      position: relative;
      padding-right: 35px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      overflow: hidden; }
      .content .mainleft .links .link .close-btn, .content .mainleft .profile-linkpage-content .links a .new-link .close-btn, .profile-linkpage-content .content .mainleft .links a .new-link .close-btn {
        position: absolute;
        top: 25px;
        right: 10px;
        width: 20px;
        height: 20px;
        font-size: 1.2em;
        transition: 0.15s ease; }
      .content .mainleft .links .link .close-btn:hover, .content .mainleft .profile-linkpage-content .links a .new-link .close-btn:hover, .profile-linkpage-content .content .mainleft .links a .new-link .close-btn:hover {
        color: #2ecc71; }
    .content .mainleft .links .link:hover, .content .mainleft .profile-linkpage-content .links a .new-link:hover, .profile-linkpage-content .content .mainleft .links a .new-link:hover {
      background: #696e89; }
  .content .mainleft .generate-button {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 15px;
    background: #2ecc71;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.15s ease;
    border-color: #198764;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 1.02em; }
  .content .mainleft .generate-button:hover {
    background: #25a25a; }
.content .right {
  width: 100%;
  border-left: 1px solid rgba(100, 100, 100, 0.3);
  height: calc(100vh - 160px);
  background: #2E2E3A;
  overflow: auto; }
  .content .right .heading {
    text-align: center;
    color: #2ecc71;
    width: 100%;
    border-bottom: 2px solid rgba(2, 2, 2, 0.15);
    box-shadow: 0px 1px 2px rgba(180, 180, 180, 0.15); }
    .content .right .heading h4 {
      font-weight: 500; }
  .content .right .content a {
    color: #fff; }
  .content .right .content .link, .content .right .content .profile-linkpage-content .links a .new-link, .profile-linkpage-content .links a .content .right .content .new-link {
    width: 100%;
    height: 170px;
    border-bottom: 2px solid rgba(2, 2, 2, 0.15);
    box-shadow: 0px 1px 1px rgba(180, 180, 180, 0.15);
    padding: 20px;
    transition: 0.15s ease;
    cursor: pointer; }
    .content .right .content .link .colored, .content .right .content .profile-linkpage-content .links a .new-link .colored, .profile-linkpage-content .links a .content .right .content .new-link .colored {
      color: #2ecc71; }
  .content .right .link:hover, .content .right .profile-linkpage-content .links a .new-link:hover, .profile-linkpage-content .links a .content .right .new-link:hover {
    background: #2ecc71; }
    .content .right .link:hover .colored, .content .right .profile-linkpage-content .links a .new-link:hover .colored, .profile-linkpage-content .links a .content .right .new-link:hover .colored {
      color: #fff; }
.content ::-webkit-scrollbar {
  display: none; }

.addOnPasteBtn {
  color: #2ecc71;
  cursor: pointer;
  transition: 0.15s ease; }

.addOnPasteBtn:hover {
  color: #7ee2a8; }

/* The starting CSS styles for the enter animation */
.mainleft .ng-enter {
  transition: 0.2s linear all;
  opacity: 0;
  transform: translateY(30px); }

/* The finishing CSS styles for the enter animation */
.mainleft .ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0); }

.mainleft .ng-leave {
  transition: 0.2s linear all;
  opacity: 1;
  transform: translateY(0); }

.mainleft .ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateY(-30px); }

#popup, #changeTitlePopup, #settingsPopup {
  display: none; }
  #popup .overlay, #changeTitlePopup .overlay, #settingsPopup .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    max-height: auto;
    background: rgba(0, 0, 0, 0.8); }
    #popup .overlay #loading, #changeTitlePopup .overlay #loading, #settingsPopup .overlay #loading {
      width: 300px;
      height: 200px;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      padding-top: 50px;
      font-size: 7em; }
      #popup .overlay #loading .loader, #changeTitlePopup .overlay #loading .loader, #settingsPopup .overlay #loading .loader {
        animation: rotiraj 1s infinite linear; }
  #popup #wrapperGenerated, #changeTitlePopup #wrapperGenerated, #settingsPopup #wrapperGenerated {
    display: none; }
  #popup .wrapper, #changeTitlePopup .wrapper, #settingsPopup .wrapper {
    width: 600px;
    height: 150px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 35%;
    transform: translateX(-50%);
    background: #484B5E;
    border-radius: 4px; }
    #popup .wrapper .close-popup, #changeTitlePopup .wrapper .close-popup, #settingsPopup .wrapper .close-popup {
      position: absolute;
      top: 12px;
      right: 5px;
      width: 20px;
      height: 20px;
      font-size: 1.2em;
      cursor: pointer;
      transition: 0.15s ease; }
    #popup .wrapper .close-popup:hover, #changeTitlePopup .wrapper .close-popup:hover, #settingsPopup .wrapper .close-popup:hover {
      color: #2ecc71; }
    #popup .wrapper .header, #changeTitlePopup .wrapper .header, #settingsPopup .wrapper .header {
      width: 100%;
      height: 40px;
      padding-top: 10px;
      background: transparent;
      border-radius: 4px 4px 0px 0px;
      text-align: center;
      font-size: 1.2em;
      color: #DCD7EC;
      border: 1px solid #2ecc71;
      border-bottom: none; }
    #popup .wrapper .popup-body, #changeTitlePopup .wrapper .popup-body, #settingsPopup .wrapper .popup-body {
      background: #323441;
      width: 100%;
      height: 100%;
      padding: 20px;
      color: white;
      border-radius: 0px 0px 4px 4px;
      border: 1px solid #2ecc71;
      border-top: none; }

.generatedInput, .titleInput .linkTitleInput {
  width: 100%;
  height: 60px;
  border-radius: 100px;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 20px;
  background: #272833;
  font-size: 1.1em;
  margin-top: 20px;
  border: 2px solid #2ecc71;
  color: #fff;
  float: left;
  padding-right: 50px; }

.btn-copy-generated {
  width: 50px;
  font-size: 1.7em;
  float: left;
  height: 50px;
  border-radius: 100%;
  margin-left: -82px;
  outline: none;
  border: none;
  background: transparent;
  transition: 0.15s ease;
  margin-top: 25px;
  color: #777; }

.btn-copy-linkpage {
  width: 50px;
  font-size: 1.7em;
  float: left;
  height: 50px;
  border-radius: 100%;
  margin-left: -60px;
  outline: none;
  border: none;
  background: transparent;
  transition: 0.15s ease;
  margin-top: 25px;
  color: #777; }

.btn-settings {
  width: 35px;
  font-size: 1.7em;
  float: left;
  height: 50px;
  border-radius: 100%;
  margin-left: -90px;
  outline: none;
  border: none;
  background: transparent;
  transition: 0.15s ease;
  margin-top: 25px;
  color: #777; }

.btn-goto-generated {
  width: 50px;
  font-size: 1.7em;
  float: left;
  height: 50px;
  border-radius: 100%;
  margin-left: -50px;
  outline: none;
  border: none;
  background: transparent;
  transition: 0.15s ease;
  margin-top: 25px;
  color: #777; }

.btn-copy-generated:hover, .btn-copy-generated:visited, .btn-copy-generated:active, .btn-copy-generated:focus, .btn-goto-generated:hover, .btn-goto-generated:visited, .btn-goto-generated:active, .btn-goto-generated:focus, .btn-copy-linkpage:hover, .btn-copy-linkpage:visited, .btn-copy-linkpage:active, .btn-copy-linkpage:focus,
.btn-settings:hover, .btn-settings:visited, .btn-settings:active, .btn-settings:focus {
  color: #2ecc71;
  background: transparent;
  outline: none; }

.linkpage-content .main-link-content, .profile-linkpage-content .main-link-content {
  margin-top: 20px; }
.linkpage-content .title-holder, .profile-linkpage-content .title-holder {
  text-align: center;
  position: relative; }
  .linkpage-content .title-holder .editTitleBtn, .profile-linkpage-content .title-holder .editTitleBtn {
    opacity: 0.3;
    background: #000;
    width: 40px;
    height: 40px;
    font-size: 0.7em;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    transition: 0.15s ease; }
  .linkpage-content .title-holder .editTitleBtn:hover, .profile-linkpage-content .title-holder .editTitleBtn:hover {
    opacity: 0.8; }
.linkpage-content .linkInput, .profile-linkpage-content .linkInput {
  text-align: center;
  width: 100%;
  height: 60px;
  border-radius: 100px;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 20px;
  background: #191920;
  font-size: 1.1em;
  float: left;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 1px solid #32323f;
  margin-top: 20px; }
.linkpage-content .links, .profile-linkpage-content .links {
  width: 100%;
  min-height: 100px;
  max-height: auto;
  margin-top: 120px; }
  .linkpage-content .links .link, .profile-linkpage-content .links .link, .profile-linkpage-content .links a .new-link, .linkpage-content .newest .links a .link, .newest .linkpage-content .links a .link, .profile-linkpage-content .newest .links a .link, .newest .profile-linkpage-content .links a .link {
    width: 100%;
    height: 70px;
    background: #484B5E;
    color: #fff;
    padding: 20px;
    padding-top: 10px;
    border-radius: 4px;
    margin-top: 20px;
    transition: 0.15s ease;
    word-wrap: break-word;
    position: relative;
    padding-right: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    position: relative; }
    .linkpage-content .links .link .preview, .profile-linkpage-content .links .link .preview, .profile-linkpage-content .links a .new-link .preview {
      width: 100%;
      height: 220px;
      border-radius: 4px; }
      .linkpage-content .links .link .preview iframe, .profile-linkpage-content .links .link .preview iframe, .profile-linkpage-content .links a .new-link .preview iframe {
        width: 100%;
        height: 100%;
        overflow: hidden; }
    .linkpage-content .links .link .show-preview, .profile-linkpage-content .links .link .show-preview, .profile-linkpage-content .links a .new-link .show-preview {
      position: absolute;
      bottom: 11px;
      right: 15px;
      width: 20px;
      height: 20px;
      font-size: 1.7em;
      transition: 0.15s ease; }
    .linkpage-content .links .link .show-preview:hover, .profile-linkpage-content .links .link .show-preview:hover, .profile-linkpage-content .links a .new-link .show-preview:hover {
      color: #2ecc71; }
  .linkpage-content .links .link:hover, .profile-linkpage-content .links .link:hover, .profile-linkpage-content .links a .new-link:hover {
    background: #696e89; }

@keyframes rotiraj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.animateloader {
  animation: rotiraj 1s infinite linear; }

.not-found {
  display: none;
  text-align: center; }
  .not-found h1 {
    font-size: 4.5em; }

.signup-wrapper {
  text-align: center; }
  .signup-wrapper .generate-button {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 15px;
    background: #2ecc71;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.15s ease;
    border-color: #198764;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 1.02em; }
  .signup-wrapper .generate-button:hover {
    background: #25a25a;
    color: #fff; }
  .signup-wrapper .signup-window {
    background: #fff;
    width: 80%;
    min-height: 400px;
    max-height: 600px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    padding: 20px;
    background: #191920;
    font-size: 1.1em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid #32323f; }
    .signup-wrapper .signup-window h2 {
      font-weight: 100; }
    .signup-wrapper .signup-window form {
      text-align: left;
      padding: 30px; }
      .signup-wrapper .signup-window form input {
        width: 100%;
        height: 60px;
        border-radius: 100px;
        box-shadow: none;
        border: none;
        outline: none;
        padding: 20px;
        background: #191920;
        float: left;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        color: #fff;
        border: 1px solid #32323f;
        margin-top: 20px; }

.profile-linkpage-content .links {
  margin-top: 0; }
  .profile-linkpage-content .links a {
    text-decoration: none !important; }
    .profile-linkpage-content .links a .link, .profile-linkpage-content .links a .new-link {
      height: 90px;
      position: relative; }
      .profile-linkpage-content .links a .link p, .profile-linkpage-content .links a .new-link p {
        font-size: 0.9em; }
      .profile-linkpage-content .links a .link .private, .profile-linkpage-content .links a .new-link .private {
        position: absolute;
        right: 12px;
        top: 10px;
        font-size: 1.5em;
        color: #2ecc71;
        width: 20px;
        height: 20px; }
    .profile-linkpage-content .links a .new-link {
      opacity: 0.5;
      text-align: center;
      padding-top: 25px; }

#changeTitlePopup .btn-submit-changes {
  font-size: 1.7em;
  height: 50px;
  border-radius: 100%;
  margin-left: -50px;
  outline: none;
  border: none;
  background: transparent;
  transition: 0.15s ease;
  margin-top: 25px;
  color: #777; }
#changeTitlePopup .btn-submit-changes:hover {
  color: #2ecc71; }

#settingsPopup .button-success {
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 9px;
  background: #2ecc71;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.15s ease;
  border-color: #198764;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 1.02em; }
#settingsPopup .button-delete {
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 9px;
  background: #e74c3c;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.15s ease;
  border-color: #e74c3c;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 1.02em; }
#settingsPopup .button-success:hover {
  background: #25a25a; }
#settingsPopup .button-delete:hover {
  background: #ed7669; }
#settingsPopup .wrapper {
  width: 450px;
  height: 270px; }
#settingsPopup .info {
  padding-left: 20px;
  padding-right: 20px; }
  #settingsPopup .info .note {
    font-size: 0.95em; }
  #settingsPopup .info span {
    font-weight: 100; }
#settingsPopup .pull-right {
  margin-top: 10px; }
#settingsPopup .checkbox {
  width: 40px;
  height: 40px;
  background: #ddd;
  margin: 20px 20px;
  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); }
  #settingsPopup .checkbox input[type=checkbox] {
    visibility: hidden; }
  #settingsPopup .checkbox .text {
    position: absolute;
    left: 55px;
    top: 3px; }
    #settingsPopup .checkbox .text h4 {
      font-weight: 400; }
#settingsPopup .checkbox label {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 100px;
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #333;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5); }
#settingsPopup .checkbox input[type=checkbox]:checked + label {
  background: #2ecc71; }

.titleInput {
  padding-left: 100px;
  padding-right: 100px; }
  .titleInput .linkTitleInput {
    width: 100% !important;
    height: 50px !important;
    margin-top: 70px !important;
    opacity: 0.6;
    transition: 0.15s ease; }
  .titleInput .linkTitleInput:focus {
    opacity: 1; }

.privateLink {
  display: none;
  text-align: center; }

.updatingSettings {
  display: none;
  text-align: center; }

.profile-loader {
  text-align: center; }
  .profile-loader .ion-load-c {
    font-size: 3em;
    animation: rotiraj 1s infinite linear; }

.newest {
  width: 100%;
  min-height: 400px;
  max-height: auto;
  margin-top: 100px;
  text-align: left; }
  .newest .links {
    margin-top: 10px !important; }
    .newest .profile-linkpage-content .links a .new-link, .profile-linkpage-content .newest .links a .new-link, .newest .links a .link {
      height: 120px !important; }
      .newest .profile-linkpage-content .links a .new-link p, .profile-linkpage-content .newest .links a .new-link p, .newest .links a .link p {
        font-size: 0.9em; }

/*# sourceMappingURL=app.css.map */
