<div class="container-fluid">
  <div class="spacer"></div>
  <div class="content">
    <div class="col-md-9">
    <div class="mainleft">
      <h4>New link group</h4>
    </div>
  </div>
  <div class="col-md-3">
    <div class="right">
      <div class="heading">
        <h4>Newest</h4>
      </div>

      <div class="content">

        <a href="#">
          <div class="link">
            <h5>Link wtf</h5>
            <!--<a href="#" class="colored">http://jurac.com</a>-->
          </div>
        </a>

        <a href="/asdee">
          <div class="link">
            <h5>Link wtf</h5>
            <!--<a href="#" class="colored">http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link wtf</h5>
            <!--<a href="#" class="colored">http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link wtf</h5>
            <!--<a href="#" class="colored" >http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link wtf</h5>
            <!--<a href="#" class="colored" >http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link wtf</h5>
            <!--<a href="#" class="colored" >http://jurac.com</a>-->
          </div>
        </a>
      

      </div>
    </div>
  </div>
  </div>
  
</div>