<div class="container-fluid">
  <div class="spacer"></div>
  <div class="content">
    <div class="col-md-9">
    <div class="mainleft">
      <!--<h4>NEW LINK GROUP</h4>-->
      <div class="container">
          <input type="text" placeholder="Your link goes here..."/>
          <button class="btn btn-default"><i class="ion ion-plus"></i></button>
      </div>
      <div class="container links">

        <a href="">
          <div class="col-md-6">
              <div class="link">
                <h5>http://collectui.com/designers/divanraj/ui-kit</h5>
              </div>
          </div>
        </a>

        <a href="">
          <div class="col-md-6">
              <div class="link">
                <h5>https://auth0.com/learn/json-web-tokens/?utm_source=twitter&utm_medium=sc&utm_campaign=learn</h5>
              </div>
          </div>
        </a>

        <a href="">
          <div class="col-md-6">
              <div class="link">
                <h5>https://developer.github.com/v3/search/#search-repositories</h5>
              </div>
          </div>
        </a>

      </div>

      <div class="container">
        <div class="col-md-12">
          <div class="generate-button">Generate group link</div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-3">
    <div class="right">
      <div class="heading">
        <h4>Newest</h4>
      </div>

      <div class="content">

        <a href="#">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored">http://jurac.com</a>-->
          </div>
        </a>

        <a href="/asdee">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored">http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored">http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored" >http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored" >http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored" >http://jurac.com</a>-->
          </div>
        </a>
      
        
      </div>
    </div>
  </div>
  </div>
  
</div>