<div class="container-fluid">
  <div class="spacer"></div>
  <div class="content">
    <div class="col-md-9">
    <div class="mainleft">
      <!--<h4>NEW LINK GROUP</h4>-->
      <div class="container">
        <p>Add on paste {{addOnPasteEnabled? 'enabled' : 'disabled'}}. <span class="addOnPasteBtn" ng-click="addOnPasteEnabled = !addOnPasteEnabled">{{addOnPasteEnabled? 'Disable' : 'Enable'}}</span></p>
          <input type="text" placeholder="Your link goes here..." ng-model="link.pastedUrl" ng-keyup="CallAddLinkOnEnter($event)"/>
          <button class="btn btn-default" ng-click="addLink(link)"><i class="ion ion-plus"></i></button>

          
      </div>
      <div class="container links" ng-show="links.length != 0">
        
        <div ng-repeat="link in links">
          <a href="{{link.pastedUrl}}" target="_blank">
          <div class="col-md-6">
              <div class="link">
                <h5>{{link.pastedUrl}}</h5>
                <div class="close-btn" ng-click="removeLink(link.id,$event)"><i class="ion ion-close"></i></div>
              </div>
          </div>
        </a>
        </div>

      </div>

      <div class="container" ng-show="links.length != 0">
        <div class="col-md-12">
          <div class="generate-button">Generate group link</div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-3">
    <div class="right">
      <div class="heading">
        <h4>Newest</h4>
      </div>

      <div class="content">

        <a href="#">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored">http://jurac.com</a>-->
          </div>
        </a>

        <a href="/asdee">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored">http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored">http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored" >http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored" >http://jurac.com</a>-->
          </div>
        </a>

        <a href="#">
          <div class="link">
            <h5>Link 1</h5>
            <!--<a href="#" class="colored" >http://jurac.com</a>-->
          </div>
        </a>
      
        
      </div>
    </div>
  </div>
  </div>
  
</div>