<div class="container-fluid">
  <div class="spacer"></div>
  <div class="container">
    <div class="col-md-12">
      <h2>Your links</h2>
    </div>
    <div class="profile-linkpage-content">

      <div class="links">
        <div ng-repeat="link in userLinks | orderBy:'-'">
          <div class="col-md-4">
            <a href="http://localhost:6934/{{link.GeneratedUrl}}">
              <div class="link">
                <h5>{{link.Title}}</h5>
                <p>{{link.Urls.length}} links</p>

                <div data-toggle="tooltip" data-placement="left" title="This link is private" ng-show="link.Private == true" class="private">
                  <i class="ion ion-eye-disabled"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <h3 ng-show="userLinks.length == 0">You haven't created any links so far.</h3>
      </div>

    </div>


  </div>
</div>