<div class="container-fluid">
  <div class="spacer"></div>
  <div class="container">
    <div class="col-md-12">
      <h2>Your links</h2>
    </div>
    <div class="profile-linkpage-content">

      <div class="links">
          <div class="col-md-4">
              <a href="/">
                <div class="new-link">
                  <h5><i class="ion ion-plus"></i> New</h5>
                </div>
              </a>
            </div>
        <div ng-repeat="link in userLinks | orderBy:'-'">
          <div class="col-md-4">
            <a href="http://localhost:6934/{{link.GeneratedUrl}}">
              <div class="link">
                <h5>{{link.Title}}</h5>
                <p>{{link.Urls.length}} links</p>

                <div data-toggle="tooltip" data-placement="left" title="This link is private" ng-show="link.Private == true" class="private">
                  <i class="ion ion-eye-disabled"></i>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="profile-loader">
          <h3><i class="ion ion-load-c"></i></h3>
        </div>
      </div>

    </div>


  </div>
</div>