@{ 
    Layout = null;
}
<html ng-app="app">
<head>
    <base href="/" />
    <title>Your app</title>
    <link rel="stylesheet" href="../../Content/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/css/app.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
</head>
<body ng-controller="MainController">

    <div class="container-fluid">
        <div class="topbar">
            <h4 class="brand"> HEAVY<span>LINK</span></h4>
            <p>Group your links and send them as one</p>
        </div>
    </div>

    <div ng-view></div>

    
    

    <!--Public scripts-->
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
    <script src="../../SPA/app.js"></script>

    <!--Controllers-->
    <script src="../../SPA/controllers/HomeController.js"></script>
    <script src="../../SPA/controllers/MainController.js"></script>
    <script src="../../SPA/controllers/LinkController.js"></script>

    <!--Services-->
    <script src="../../SPA/services/HomeFactory.js"></script>

    <!--Directives-->
</body>
</html>