@{ 
    Layout = null;
}
<html ng-app="app">
<head>
    <base href="/" />
    <title>Heavylink</title>
    <link rel="stylesheet" href="../../Content/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/css/app.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
    <link href="../../Content/css/ionicons.min.css" rel="stylesheet" />
    <link href="../../Content/css/iziToast.min.css" rel="stylesheet" />
</head>
<body ng-controller="MainController">

    <div class="container-fluid">
        <div class="topbar">
            <h4 class="brand"><a href="http://localhost:6934">capsule<span>link</span></a></h4>
            <p>Group links and send them as one</p>

            <div class="auth-holder" ng-show="token.length == null">
                <a href="/login"><div class="btn auth-btn"><i class="ion ion-log-in"></i> Login</div></a>
                <a href="/signup"><div class="btn auth-btn"><i class="ion ion-edit"></i> Sign up</div></a>
            </div>

            <div class="auth-holder" ng-show="token.length > 0">
                <a href="/profile"><div class="btn auth-btn"><i class="ion ion-person"></i> {{username}}</div></a>
                <div class="btn auth-btn" ng-click="Logout()"><i class="ion ion-log-out"></i> Logout</div>
            </div>
        </div>
        
        
    </div>

    <div ng-view></div>

    
    

    <!--Public scripts-->
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-jwt.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
    <script src="../../Scripts/angular-animate.min.js"></script>
    <script src="../../Scripts/clipboard.min.js"></script>
    <script src="../../Scripts/ngclipboard.min.js"></script>
    <script src="../../Scripts/iziToast.min.js"></script>
    <script src="../../SPA/app.js"></script>

    <!--Controllers-->
    <script src="../../SPA/controllers/HomeController.js"></script>
    <script src="../../SPA/controllers/MainController.js"></script>
    <script src="../../SPA/controllers/LinkController.js"></script>
    <script src="../../SPA/controllers/LoginController.js"></script>
    <script src="../../SPA/controllers/SignUpController.js"></script>
    <script src="../../SPA/controllers/DashboardController.js"></script>
    <script src="../../SPA/controllers/ProfileController.js"></script>

    <!--Services-->
    <script src="../../SPA/services/HomeFactory.js"></script>
    <script src="../../SPA/services/LinksFactory.js"></script>
    <script src="../../SPA/services/AuthFactory.js"></script>
    <script src="../../SPA/services/ProfileFactory.js"></script>

    <!--Directives-->
</body>
</html>