$topbarHeight: 160px;
$spanColor: #2ecc71;

*{
  font-family: 'Montserrat', sans-serif !important;
}
body {
  background: #272731;
  color: #fff;
}

// .mainWrapper{
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
// }

.topbar{
  width: 100%;
  height: $topbarHeight;
  background: #1C1F28;
  padding: 32px;
  border-bottom: 1px solid rgba(200,200,200,0.16);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;

  p{
    font-size: 1.22em;
  }
  a{
    color: #fff;
    text-decoration: none;
    h4.brand{
  font-weight: 500;
  font-size: 5em;
  //text-shadow: 0px 1px 3px #222;
  margin: 0;
  
  span{
    color: $spanColor;
  }
}
  }
}


.spacer{
  margin-top: $topbarHeight;
}
.content{

  .col-md-9, .col-md-3{
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .mainleft{
    width: 100%;
    height: calc(100vh - 160px);
    padding: 20px;
    overflow: auto;
    text-align: center;

    input{
      width: 100%;
      height: 60px;
      border-radius: 100px;
      box-shadow: none;
      border:none;
      outline: none;
      padding: 20px;
      background: darken(#272731,6);
      font-size: 1.1em;
      float: left;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
      color: #fff;
      border: 1px solid lighten(#272731,5);
    }
    button{
      width: 50px;
      font-size: 1.7em;
      float: left;
      height: 50px;
      border-radius: 100%;
      margin-left: -57px;
      outline: none;
      border: none;
      background: darken(#272731,6);
      transition: 0.15s ease;
      margin-top: 5px;
      color: #454545;
    }
    button:hover{
      color: darken($spanColor,5);
    }

    .links{
      text-align: left;
      margin-top: 50px;
      .link{
        width: 100%;
        height: 70px;
        background: #484B5E;
        color: #fff;
        padding: 20px;
        padding-top: 10px;
        border-radius: 4px;
        margin-top: 20px;
        transition: 0.15s ease;
        word-wrap: break-word;
        position: relative;
        padding-right: 35px;
        border-top: 1px solid rgba(255,255,255,0.3);
        overflow: hidden;

        .close-btn{
          position: absolute;
          top: 25px;
          right: 10px;
          width: 20px;
          height: 20px;
          font-size: 1.2em;
          transition: 0.15s ease;
        }
        .close-btn:hover{
          color: $spanColor;
        }
      }

      .link:hover{
        background: lighten(#484B5E,15);
        //background: $spanColor;
      }

    }

    .generate-button{
      width: 100%;
      height: 50px;
      text-align: center;
      padding: 15px;
      background: $spanColor;
      border-radius: 4px;
      margin-top: 30px;
      cursor: pointer;
      transition: 0.15s ease;
      border-color: #198764;
      border-top: 2px solid rgba(255,255,255,0.3);
      color: #fff;
      font-size: 1.02em;
      //text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }

    .generate-button:hover{
      background: darken($spanColor,10);
    }
  }
  .right{
    width: 100%;
    border-left: 1px solid rgba(100,100,100,0.3);
    
    //padding:20px;
    //padding-top: 10px;
    height: calc(100vh - 160px);
    background: #2E2E3A;
    overflow: auto;

    .heading{
      text-align: center;
      color: $spanColor;
      width: 100%;
      border-bottom: 2px solid rgba(2, 2, 2, 0.15);
      box-shadow: 0px 1px 2px rgba(180,180,180, 0.15);

      h4{
        font-weight: 500;
      }
    }

    .content{
      a{
        color: #fff;
      }
      .link {
        width: 100%;
        height: 170px;
        border-bottom: 2px solid rgba(2, 2, 2, 0.15);
        box-shadow: 0px 1px 1px rgba(180,180,180, 0.15);
        padding: 20px;
        transition: 0.15s ease;
        cursor: pointer; 

        .colored{
          color: #2ecc71;
        }
      }
        
    }

    .link:hover{
      background: $spanColor;

      .colored{
        color: #fff;
      }
    }
  }

  ::-webkit-scrollbar { 
    display: none; 
  }
}

.addOnPasteBtn{
  color: $spanColor;
  cursor: pointer;
  transition: 0.15s ease;
}
.addOnPasteBtn:hover{
  color: lighten($spanColor,20);
}

// Animations

/* The starting CSS styles for the enter animation */
.mainleft .ng-enter {
  transition:0.2s linear all;
  opacity:0;
  transform: translateY(30px);
}

/* The finishing CSS styles for the enter animation */
.mainleft .ng-enter.ng-enter-active {
  opacity:1;
  transform: translateY(0);
}

.mainleft .ng-leave {
  transition:0.2s linear all;
  opacity:1;
  transform: translateY(0);
}
.mainleft .ng-leave.ng-leave-active {
  opacity:0;
  transform: translateY(-30px);
}

#popup{
  display: none;
  .overlay{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    min-height: 100%;
    max-height: auto;
    background: rgba(0,0,0,0.8);
  }
  .wrapper{
    width: 600px;
    height: 150px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 35%;
    transform: translateX(-50%);
    background: #484B5E;
    border-radius: 4px;

    .close-popup{
      position: absolute;
      top: 12px;
      right: 5px;
      width: 20px;
      height: 20px;
      font-size: 1.2em;
      cursor: pointer;
      transition: 0.15s ease;
    }
    .close-popup:hover{
      color: $spanColor;
    }
    .header{
      width: 100%;
      height: 40px;
      padding-top: 10px;
      background: transparent;
      border-radius: 4px 4px 0px 0px;
      text-align: center;
      font-size: 1.2em;
      color: #DCD7EC;
      border: 1px solid $spanColor;
      border-bottom: none;
    }
    .popup-body{
      background: darken(#484B5E,10);
      width: 100%;
      height: 100%;
      padding: 20px;
      color: lighten(#fff,10);
      border-radius: 0px 0px 4px 4px;
      border: 1px solid $spanColor;
      border-top: none;
    }
  }

}

.generatedInput{
      width: 100%;
      height: 60px;
      border-radius: 100px;
      box-shadow: none;
      border:none;
      outline: none;
      padding: 20px;
      background: darken(#484B5E,15);
      font-size: 1.1em;
      margin-top: 20px;
      border: 2px solid $spanColor;
      color: #fff;
      float: left;
}
.btn-copy-generated{
      width: 50px;
      font-size: 1.7em;
      float: left;
      height: 50px;
      border-radius: 100%;
      margin-left: -82px;
      outline: none;
      border: none;
      background: transparent;
      transition: 0.15s ease;
      margin-top: 25px;
      color: #777;
}
.btn-copy-linkpage{
      width: 50px;
      font-size: 1.7em;
      float: left;
      height: 50px;
      border-radius: 100%;
      margin-left: -60px;
      outline: none;
      border: none;
      background: transparent;
      transition: 0.15s ease;
      margin-top: 25px;
      color: #777;
}
.btn-goto-generated{
      width: 50px;
      font-size: 1.7em;
      float: left;
      height: 50px;
      border-radius: 100%;
      margin-left: -50px;
      outline: none;
      border: none;
      background: transparent;
      transition: 0.15s ease;
      margin-top: 25px;
      color: #777;
}
.btn-copy-generated:hover, .btn-copy-generated:visited, .btn-copy-generated:active, .btn-copy-generated:focus, .btn-goto-generated:hover, .btn-goto-generated:visited, .btn-goto-generated:active, .btn-goto-generated:focus, .btn-copy-linkpage:hover, .btn-copy-linkpage:visited, .btn-copy-linkpage:active, .btn-copy-linkpage:focus{
    color: $spanColor;
    background: transparent;
    outline: none;
}

// link page
.linkpage-content{

  .main-link-content{
    margin-top: 20px;
  }

  .linkInput{
    text-align: center;
      width: 100%;
      height: 60px;
      border-radius: 100px;
      box-shadow: none;
      border:none;
      outline: none;
      padding: 20px;
      background: darken(#272731,6);
      font-size: 1.1em;
      float: left;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
      color: #fff;
      border: 1px solid lighten(#272731,5);
      margin-top: 20px;
  }

  .links{
    width: 100%;
    min-height: 500px;
    max-height: auto;
    margin-top: 120px;
    
    a:hover{
      h5{
        text-decoration: underline !important;
      }
      
    }

    .link{
        width: 100%;
        height: 300px;
        background: #484B5E;
        color: #fff;
        padding: 20px;
        padding-top: 10px;
        border-radius: 4px;
        margin-top: 20px;
        transition: 0.15s ease;
        word-wrap: break-word;
        position: relative;
        padding-right: 20px;
        border-top: 1px solid rgba(255,255,255,0.3);
        overflow: hidden;
        position: relative;

        .preview{
          width: 100%;
          height: 220px;
          //display: none;
          //background: red;
          border-radius: 4px;
          iframe{
            width: 100%;
            height: 100%;
            overflow:hidden;
          }
        }

        .show-preview{
          position: absolute;
          bottom: 11px;
          right: 15px;
          width: 20px;
          height: 20px;
          font-size: 1.7em;
          transition: 0.15s ease;
        }
        .show-preview:hover{
          color: $spanColor;
        }
    }
    .link:hover{
        background: lighten(#484B5E,15);
        //background: $spanColor;
      }
  }
}